@import url(/blocks/kaufman/section-title/section-title.css);
@import url(/blocks/kaufman/section-subtitle/section-subtitle.css);
@import url(/blocks/kaufman/table/table.css);
@import url(/blocks/kaufman/rotation/rotation.css);
@import url(/blocks/kaufman/table/__cell/table__cell.css);
@import url(/blocks/kaufman/table/__heading/table__heading.css);
@import url(/blocks/kaufman/table/__text/table__text.css);
@import url(/blocks/kaufman/__triangle/kaufman__triangle.css);
@import url(/blocks/kaufman/table/_theme_dark/table_theme_dark.css);
@import url(/blocks/kaufman/table/__cell/_theme_dark/table__cell_theme_dark.css);
@import url(/blocks/kaufman/table/__heading/_theme_dark/table__heading_theme_dark.css);
@import url(/blocks/kaufman/table/__text/_theme_dark/table__text_theme_dark.css);
@import url(/blocks/kaufman/section-title/_theme_dark/section-title_theme_dark.css);
@import url(/blocks/kaufman/section-subtitle/_theme_dark/section-subtitle_theme_dark.css);
@import url(/blocks/kaufman/rotation/_place_kaufman/rotation_place_kaufman.css);

.kaufman {
    overflow: hidden;
    background-color: #1f1f1f;
    position: relative;
    color: #f2f2f2;
  }