.kaufman__triangle {
    position: absolute;
    right: -210px;
    height: 877px;
    width: 877px;
    z-index: 0;
    top: 0;
    background-size: cover;
    background-image: url(/images/kaufman-triangle.svg);
    animation: rotation 20s linear infinite;
  }
  