.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header{
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
}

.header__link{
  color:#2f80ed;
  text-decoration: none;
}

.logo{
  height: 32px;
  width: 228px;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title{
  display: flex;
  align-items: center;
  max-width: 730px;
  width: 100%;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0 0 0 64px;
  z-index: 2;
}

.header__subtitle{
  max-width: 388px;
  width: 100%;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

/* и элемента с модификатором вида ключ-значение */
.description{
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns{
  display: flex;
  align-items: baseline;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief{
  max-width: 175px;
  width: 100%;
  color:  #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph{
  margin: 0 auto 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type{
  margin: 0;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}

.two-columns__span-accent{
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits{
  display: block;
  margin-bottom: 100px;
}

.section-title{
  width: 60%;
  margin: 0 auto 20px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle{
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table{
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
  justify-content: space-around;
  padding-left: 0;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
  list-style-type: none;
  padding-left: 0;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 auto;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px auto 0;
}

.feynman{
  background-color: #f2f2f2;
  position: relative;
  min-height: 890px;
}

.feynman__title{
  max-width: 648px;
  width: 100%;
  margin: auto;
  padding: 100px 0 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  position: relative;
  z-index: 2;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: auto;
  position: relative;
  text-align: center;
  z-index: 2;

}

.feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  z-index: 2;
  right: 48px;
  top: 50%;
  color:#2f80ed;
  text-decoration: none;
}

.feynman__illustration{
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.kaufman{
  overflow: hidden;
  background-color: #1f1f1f;
  position: relative;
  padding: 90px 0 90px;
}

.kaufman__triangle{
  position: absolute;
  right: -210px;
  height: 877px;
  width: 877px;
  z-index: 0;
  top: 0;
  background-size: cover;
  background-image: url(../images/kaufman-triangle.svg);
}

.section-title_theme_dark{
  width: 60%;
  margin: 0 auto 20px;
  text-align: center;
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.section-subtitle_theme_dark{
  width: 60%;
  margin: auto;
  text-align: center;
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  position: relative;
  z-index: 1;
}

.table_theme_dark{
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
  justify-content: space-around;
  z-index: 1;
  padding-left: 0;
}

.table__cell_theme_dark{
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  list-style-type: none;
  padding-left: 0;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.footer{
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  position: relative;
  color: #f2f2f2;
}

.footer__columns{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author{
  margin: 18px 0 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__column-links{
  margin: 20px 0 16px;
  list-style-type: none;
  padding-left: 0;
}

.footer__column-link{
  
}

.footer__column_content_social{
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #f2f2f2;
}

.icon{
  height: 16px;
  width: 16px;
}

.footer__social-icon{
  margin-right: 10px;
}
